body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 30px;
}

input, button {
    padding: 8px;
    margin: 6px;
    font-size: 16px;
}

#output {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}